<div>
    <div id="msg"></div>
    <form method="POST" id="image-form" enctype="multipart/form-data" onSubmit="return false;">
        <input type="file" name="image" accept="image/*">
        <!--onchange="loadFile(event)"-->
        <input type="submit">
    </form>
</div>
<div id="here"></div>
<img id="output" />


<script>
    var loadFile = function (event, ajax_image = false) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
    };

  
    $(document).ready(function (e) {
        $("#image-form").on("submit", function () {
            $("#msg").html('<div class="alert alert-info"><i class="fa fa-spin fa-spinner"></i> Please wait...!</div>');
            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:8000/api/detect/",
                crossDomain: true,
                data: new FormData(this), // Data sent to server, a set of key/value pairs (i.e. form fields and values)
                contentType: false, // The content type used when sending data to the server.
                // cache: false, // To unable request pages to be cached
                processData: false, //Preventing default data parse behavior
                success: function (data) {
                    console.log(data)
                    $('#here').html('<img src="data:image/*;base64,' + data + '" />');
                    $("#msg").html(
                            '<div class="alert alert-success"><i class="fa fa-thumbs-up"></i> Data updated successfully.</div>'
                        );
    
                },
                error: function (data) {
                    console.log(data)
                    $("#msg").html(
                        '<div class="alert alert-danger"><i class="fa fa-exclamation-triangle"></i> There is something wrong.</div>'
                    );
                }
            });
        });
    });
</script>